@import url(http://fonts.googleapis.com/css?family=Rye);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Ovo);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  Custom Defaults Begin */

html, body{width:100%;height:100%;font-family:Lato;}
body{background:#f7f7f7;color:#333;overflow-x:hidden;}

h1{font-size:4.236em;}
h2{font-size:2.618em;}
h3{font-size:1.618em;}
h1,h2,h3{font-weight:100}

#splash h1{font-family:Rye;}

p{font-size:1em;font-weight:100}

.supersize{font-size:6.854em;}
.meta{font-size:0.618em;}

/* travel blog css begins */

/* header */
#header{
	width:90%;
	position:fixed;
	top:0;
	left:0;
	padding:0% 5%;
	z-index:100;
	background:rgba(0,0,0,0.9);
	color:#ffffff;
}

#logo{float:left;display:block;}

nav{list-style:none;}
nav li{
	float:left;
	line-height:60px;
	padding:0% 1em;
}
nav li:hover{
	background:rgba(255,255,255,0.25);
}

#search{float:right;}


/* Splash */
#splash{
	float:left;
	padding:2.5% 0 2% 5%;
	width:95%;
	background:rgba(0,0,0,0.7);
	position:absolute;
	left:0;
	bottom:10%;
	font-size:0.9em;
	z-index:2;
	color:#f7f7f7;
}
#splash h1{line-height:0.85;}
#splash p{font-size:2.00em;}

#slideshow{
	position:relative;
	left:0;
	top:0;	
}
.slide{
	background-position:center 0px;
	background-size:cover;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opactiy:1;
}

#slide1,#slide2,#slide3{display:none;}

/* Content */
#wrapper{
	width:90%;
	height:auto;
	float:left;
	margin:2em 5%;
}

#main{
	float:left;
	width:70%;
}

#side{
	float:right;
	width:30%;
}
